<!-- templates/contact.html -->
{% extends '_base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="contact">
                <div class="header">
                    <h2 class="text-center">Contact Me</h2>
                </div>
                <div class="body text-center mt-5">
                    <p>Feel free to reach out to me through the following channels:</p>
                    <ul class="list-unstyled">
                        <li>
                            <i class="bi bi-envelope"></i>
                            <a href="mailto:dheerajsaini9900@gmail.com">dheerajsaini9900@gmail.com</a>
                        </li>
                        <li>
                            <i class="bi bi-twitter"></i>
                            <a href="https://twitter.com/your_twitter_handle" target="_blank">Twitter</a>
                        </li>
                        <li>
                            <i class="bi bi-linkedin"></i>
                            <a href="https://www.linkedin.com/in/your_linkedin_profile" target="_blank">LinkedIn</a>
                        </li>
                        <!-- Add more social media links as needed -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
